<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ion-grid>
  <ion-row class="data-row">
    <ion-col>
      <ion-label>Convenio Manual</ion-label>
      <ion-select interface="action-sheet" placeholder="Seleccionar" [(ngModel)]="selectedConvenio" name="moneda" required (ionChange)="seleccionado($event)">
        <ion-select-option *ngFor="let convenio of resultado;" [value]="convenio.CODIGO_CONVENIO" >{{ convenio.NOMRE_CONVENIO }}</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col>    
      <ng-container *ngFor="let moneda of resultado">
        <ng-container *ngIf="selectedConvenio == moneda.CODIGO_CONVENIO && mostrarsoloDet">
          <ion-label>Detalle</ion-label>
            <ion-select interface="action-sheet" placeholder="Seleccionar" [(ngModel)]="selectedConvenioDet" name="moneda" required (ionChange)="seleccionado2($event)">
              <ion-select-option *ngFor="let convenioDet of moneda.CODIGOS_CONVENIO_DET" [value]="convenioDet.CODIGO_CONVENIO_DET" >{{ convenioDet.NOMBRE_CONVENIO_DET }}</ion-select-option>
            </ion-select>
        </ng-container>
        <ng-container *ngIf="selectedConvenio == moneda.CODIGO_CONVENIO && !mostrarsoloDet">
          <ion-label>Detalle</ion-label>
          <ng-container *ngFor="let convenioDet of moneda.CODIGOS_CONVENIO_DET">
            <p>{{ convenioDet.NOMBRE_CONVENIO_DET }}</p>
          </ng-container>
        </ng-container>
      </ng-container>
    </ion-col>
  </ion-row>
</ion-grid>

 
 