<ion-header>
  <ion-toolbar color = "mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>RECAUDADOR WEB</ion-title>
    <button class="btn-in" slot="end" (click)="infoUsuario()">
      <ion-icon id="btn-in"  name="person-circle"></ion-icon>
    </button>
    <button class="Cerrar_Sesion"expand="full" slot="end" (click)="cerrarSesion()">Cerrar Sesión</button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RECAUDADOR WEB</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-menu class="menu-principal"contentId="main-content" >
      <ion-header >
        <ion-toolbar class="menu" color = "mycolor">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="opcion">
          
          <button class="btn_m" (click)="inicio()">
            <ion-icon class = "Ini" name="home" size="large" ></ion-icon><span>Inicio</span>
          </button>
        </div>
        
        <div class="opcion" *ngFor="let modulo of modulos; let i = index">
         
          <button class="btn_m" (click)="toggleContenido(i,modulo)" *ngIf="indiceModuloSeleccionado !== i">
            <ion-icon [class]="obtenerIcono(modulo.MODULO).iconClass" [name]="obtenerIcono(modulo.MODULO).iconName" size="large"></ion-icon><span>{{modulo.NOMBRE_MODULO}}</span>
          </button>

          <ion-list class="sub_modulo" *ngIf="mostrarListaDeBotones && modulo.MODULO=='7'">
            <div id="lista" *ngFor="let sub_modulo of modulo.SUB_MODULOS; let j = index">
              <button class="btn_mAdmin" (click)="toggleContenido2(i, sub_modulo)" >
                <ion-icon [class]="obtenerIcono2(sub_modulo.SUB_MODULO).iconClass" [name]="obtenerIcono2(sub_modulo.SUB_MODULO).iconName" size="large"></ion-icon><span>{{sub_modulo.NOMBRE_SUB_MODULO}}</span>
              </button>
            </div>
          </ion-list>
          <ion-list class="sub_modulo" *ngIf="mostrarListaDeBotonesAdmin && modulo.MODULO=='8'">
            <ion-list *ngFor="let sub_modulo of modulo.SUB_MODULOS; let k = index">
              <div id="lista">
                <button class="btn_mAdmin" (click)="toggleContenido3(k, sub_modulo)" >
                  <ion-icon [class]="obtenerIcono3(sub_modulo.SUB_MODULO).iconClass" [name]="obtenerIcono3(sub_modulo.SUB_MODULO).iconName" size="large"></ion-icon><span>{{sub_modulo.NOMBRE_SUB_MODULO}}</span>
                </button>
              </div>
            </ion-list>
          </ion-list>
        </div>
      </ion-content>
      <ion-footer class="footer" color = "mycolor" [translucent]="true">
        <ion-toolbar style="height: auto;" color = "mycolor" >
          <p style="margin: 0; line-height: 1.2;">2024 - Empresa Energía de Pereira</p>
          <ion-note style="margin: 0; line-height: 1.2;">Desarrollador (Syspotec)</ion-note>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
  
    
    <div class="ion-page" id="main-content" >
      
      <ion-content > 
        
        <div id="nav">
          <ion-grid class="nav">
            <ion-row>
              <ion-col  size="5">
                Usuario: {{usuario}} 
              </ion-col>
              <ion-col  size="5">
                Punto de pago: {{nombrePuntoPago}}
              </ion-col>
              <ion-col size="2">
                <div id="imagen_nav">
                  <img src="../../prueba/assets/logo/logo_energia.png">
                  <!-- <img src="../../produccion/assets/logo/logo_energia.png"> -->
                  <!-- <img src="../../assets/logo/logo_energia.png"> -->
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>

        
        </div>
        <ion-card-content>
          <div *ngFor="let mensaje of listadoMensajesActivos; let i = index" >
            <ion-toast 
              [isOpen]="isToastOpen"
              header="{{this.mensaje.TITULO}}:"
              message="{{mensaje.MENSAJE}}"
              [duration]="4000"
              icon="warning"
              position="top"
              class="custom-toast"
              [style.top]="calcularPosicionVertical(i)"
              [style.left.px]="0"
            ></ion-toast>
          </div>
          
          <div *ngIf="mostrarInicio" class="centered-image-container">
            <img src="../../prueba/assets/logo/logo_energia.png" class="centered-image">
            <!-- <img src="../../produccion/assets/logo/logo_energia.png" class="centered-image"> -->
            <!--<img src="../../assets/logo/logo_energia.png" class="centered-image"> -->
          </div>
          

          <div *ngIf="mostrarContenido">
            <app-crear-arqueo></app-crear-arqueo>
          </div>

          <div *ngIf="mostrarContenido2"> 
            <app-consultar-arqueo></app-consultar-arqueo>
          </div>

          <div *ngIf="mostrarContenido3">
            <app-entrega-arqueo></app-entrega-arqueo>
          </div>

          <div *ngIf="mostrarContenido4">
 
            <app-cierre-arqueo></app-cierre-arqueo>
          
          </div>

          <div *ngIf="mostrarContenido5">
            
            
            <app-recaudar></app-recaudar>
          </div>

          <div *ngIf="mostrarContenidoAdmin">
            <app-asignar-caja></app-asignar-caja>
          </div>

          <div *ngIf="mostrarContenidoListar">
            <app-consulta-arqueos-punto-pago></app-consulta-arqueos-punto-pago>
          
          </div>

          <div *ngIf="mostrarContenidoAsobancaria">
            <app-asobancaria></app-asobancaria>
          
          </div>


          <div *ngIf="mostrarContenidoPuntosPagoAdmin">
            <app-listado-puntos-pago></app-listado-puntos-pago>
          
          </div>

          <div *ngIf="mostrarContenidoListaUsuarios">
            <app-listado-usuarios></app-listado-usuarios>
          
          </div>

          <div *ngIf="mostrarContenidoAdministrarCajas">
            <app-administrar-cajas></app-administrar-cajas>
          
          </div>

          <div *ngIf="mostrarContenidoTrasladoFechas">
            <app-traslado-fechas></app-traslado-fechas>
          
          </div>

          <div *ngIf="mostrarMensaje">
            <app-crear-mensaje></app-crear-mensaje>
          
          </div>

          <div *ngIf="mostrarContenidoConvenios">
            <app-convenios></app-convenios>
          
          </div>

          <div *ngIf="mostrarVistaReporteador">
            <app-reporteador></app-reporteador>
          
          </div>

          <div *ngIf="mostrarVistaCierreCaja">
            <app-cierre-caja></app-cierre-caja>
          
          </div>
          <div *ngIf="informacionParametrizacion">
            <app-parametrizacion-parametros></app-parametrizacion-parametros>
          
          </div>
          <div *ngIf="mostrarAsignacionReportes">
            <app-asignacion-reportes></app-asignacion-reportes>
          
          </div>

          <div *ngIf="mostrarCargarArchivo">
            <app-cargar-archivo-offline></app-cargar-archivo-offline>
          
          </div>
        </ion-card-content>
      </ion-content>

      
    
      <div *ngIf="Punteo==true">
        <button class="cerrar-btn-1" (click)="cerrarPunteo()">
          <ion-icon size="large" class="cerrar-btn" name="close-circle-sharp"></ion-icon>
        </button>
        <div class="overlay"></div>
        <div class="overlay-content">
          <app-listar-movimientos-punteo></app-listar-movimientos-punteo>
        </div>
      </div>
    
      
      <div *ngIf="mostrarContenidoFacturas">
        <button class="cerrar-btn-1" (click)="cerrarFacturasConvenio()">
          <ion-icon size="large" class="cerrar-btn" name="close-circle-sharp"></ion-icon>
        </button>
        <div class="overlay"></div>
        <div class="overlay-content">
          
          <app-factutas-convenio></app-factutas-convenio>
        </div>
      </div>
    
      <div *ngIf="mostrarListadoAnulaciones">
        <button class="cerrar-btn-1" (click)="cerrarAnulaciones()">
          <ion-icon size="large" class="cerrar-btn" name="close-circle-sharp"></ion-icon>
        </button>
        <div class="overlay"></div>
        <div class="overlay-content">
          
          <app-anulacion-pagos></app-anulacion-pagos>
        </div>
      </div>
    
      <div *ngIf="Sincro">
        <button class="cerrar-btn-1" (click)="cerrarSincro()">
          <ion-icon size="large" class="cerrar-btn" name="close-circle-sharp"></ion-icon>
        </button>
        <div class="overlay"></div>
        <div class="overlay-content">
          <app-sincronizador></app-sincronizador>
        </div>
      </div>
    
      <div *ngIf="parametrizacionBarras">
        <button class="cerrar-btn-1" (click)="cerrarParametrizacionBarras()">
          <ion-icon size="large" class="cerrar-btn" name="close-circle-sharp"></ion-icon>
        </button>
        <div class="overlay"></div>
        <div class="overlay-content">
          <app-parametrizacion-barras></app-parametrizacion-barras>
        </div>
      </div>
    </div>
    <div class="infoUsuario-content" *ngIf="informacionUser">
      <div class="overlay-info" (click)="infoUsuario()"></div>
      <div class="infoUsuario">
        <app-informacion-usuario></app-informacion-usuario>
      </div>
    </div>
  
    <br>
    <br>
    <br>

  <ng-template #noData>
  </ng-template>
  

</ion-content>