<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<ion-header [translucent]="true">
  <ion-toolbar color = "mycolor">
    <ion-title>PUNTEO</ion-title>
  </ion-toolbar>
</ion-header>


<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">PUNTEO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card class="login">
  <ion-card-content>
      <div [ngStyle]="{
        'display': 'grid', 
        'grid-template-columns': visual ? '37% 2% 30% 30%' : '70% 30%'
      }">
        <ion-item>
          <ion-label position="stacked">Codigo de Barras</ion-label>
          <ion-input [(ngModel)]="datosConsulta.CODIGO_BARRAS"  name="codigoBarras" type="text" ></ion-input>
        </ion-item>
        <div *ngIf="visual">
        </div>
        <ion-item *ngIf="visual" class="referencia">
          <ion-label position="stacked">REFERENCIA</ion-label>
          <ion-input [(ngModel)]="datosConsulta2.CODIGO_CLIENTE" name="referencia" type="text" ></ion-input>
        </ion-item>
        <div>
          <button class="btn" expand="full" (click)="onEnterKey($event)"> Actualizar </button>
          <button class="btn" expand="full" (click)="restablecer()"> Reestablecer </button>
        </div> 
      </div>
      <div>
        <button class="btn_R" expand="full" (click)="buscarReferencia()"> Buscar Referencia</button>
        
       
      </div>
      
    <ion-list *ngIf="resultado" class="tabla">
      <div style="display: grid; grid-template-columns: 70% 30%;">
        <ion-item>
          <ion-label>Facturas pendientes: </ion-label>
        
          <!--<ion-label *ngFor="let recaudo of recaudos">{{ recaudo.CODIGO_REFERENCIA }}</ion-label>-->
        </ion-item>
        <ion-item>
          <ion-label position="stacked">ARQUEO:</ion-label>
          <ion-input label="" [(ngModel)]="arqueo" name="codigoBarras" type="text"></ion-input>
        </ion-item>
      </div>
        <ion-grid >
          <ion-row class="header-row">
            <ion-col>N° Movimiento detalle</ion-col>
            <ion-col>Nombre Convenio</ion-col>
            <ion-col>Factura Convenio</ion-col>
            <ion-col>Codigo Cliente</ion-col>
            <ion-col>Fecha Vencimiento</ion-col>
            <ion-col>Valor Movimiento Detalle</ion-col>
            <ion-col class="edit small-edit-column-fin"></ion-col>
    
          </ion-row>
          <div class="tabla_lista" style="overflow-y: auto; max-height: 47vh;">
            <div *ngIf="isLoading; else content">
              <ion-row class="data-row">
                <ion-col><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></ion-col>
                <ion-col><ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text></ion-col>
                <ion-col><ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text></ion-col>
                <ion-col><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></ion-col>
                <ion-col><ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text></ion-col>
                <ion-col><ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text></ion-col>
                <ion-col  class="edit small-edit-column-fin"><ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text></ion-col>
              </ion-row>
              <ion-row class="data-row">
                <ion-col><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></ion-col>
                <ion-col><ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text></ion-col>
                <ion-col><ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text></ion-col>
                <ion-col><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></ion-col>
                <ion-col><ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text></ion-col>
                <ion-col><ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text></ion-col>
                <ion-col  class="edit small-edit-column-fin"><ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text></ion-col>
              </ion-row>
              <ion-row class="data-row">
                <ion-col><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></ion-col>
                <ion-col><ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text></ion-col>
                <ion-col><ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text></ion-col>
                <ion-col><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></ion-col>
                <ion-col><ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text></ion-col>
                <ion-col><ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text></ion-col>
                <ion-col  class="edit small-edit-column-fin"><ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text></ion-col>
              </ion-row>
            </div>
            <ng-template #content>
              <div *ngFor="let respuesta1 of filteredList">
                <ion-row class="data-row">
                  <ion-col title="{{ respuesta1.NUMERO_MOVIMIENTO_DET }}">{{ respuesta1.NUMERO_MOVIMIENTO_DET }}</ion-col>
                  <ion-col title="{{ respuesta1.NOMBRE_CONVENIO }}">{{ respuesta1.NOMBRE_CONVENIO }}</ion-col>
                  <ion-col title="{{ respuesta1.FACTURA_CONVENIO }}">{{ respuesta1.FACTURA_CONVENIO }}</ion-col>
                  <ion-col title="{{ respuesta1.CODIGO_CLIENTE }}">{{ respuesta1.CODIGO_CLIENTE }}</ion-col>
                  <ion-col title="{{ respuesta1.FECHA_VENCIMIENTO }}">{{ respuesta1.FECHA_VENCIMIENTO }}</ion-col>
                  <ion-col title="{{ respuesta1.VALOR_MOVIMIENTO_DET }}">{{ respuesta1.VALOR_MOVIMIENTO_DET | number }}</ion-col>
                  <ion-col class="edit small-edit-column-fin">
                    <span class="link-text" (click)="MostrarMas(respuesta1)">Mas Info...</span>
                  </ion-col>
                </ion-row>
                <ion-grid *ngIf="respuesta1.selected">
                  <ion-row class="header-row-info">
                    <ion-col>Codigo Referencia</ion-col>
                    <ion-col>Tipo de recaudo</ion-col>
                    <ion-col>Migrado</ion-col>
                  </ion-row>
                  <ion-row class="data-row">
                    <ion-col title="{{ respuesta1.CODIGO_REFERENCIA }}">{{ respuesta1.CODIGO_REFERENCIA }}</ion-col>
                    <ion-col title="{{ respuesta1.TIPO_RECAUDO }}">{{ respuesta1.TIPO_RECAUDO }}</ion-col>
                    <ion-col title="{{ respuesta1.MIGRADO }}">{{ respuesta1.MIGRADO }}</ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ng-template>
          </div>
        </ion-grid>

      
      </ion-list>
      <ion-list *ngIf="resultado" class="tabla2">

          <ion-item>
            <ion-label>Facturas validadas: </ion-label>
            <!--<ion-label *ngFor="let recaudo of recaudos">{{ recaudo.CODIGO_REFERENCIA }}</ion-label>-->
          </ion-item>
          <ion-grid>
            <ion-row class="header-row">
              <ion-col>N° Movimiento detalle</ion-col>
              <ion-col>Nombre Convenio</ion-col>
              <ion-col>Factura Convenio</ion-col>
              <ion-col>Codigo Cliente</ion-col>
              <ion-col>Fecha Vencimiento</ion-col>
              <ion-col>Valor Movimiento Detalle</ion-col>
              <ion-col class="edit small-edit-column-fin"></ion-col>
      
            </ion-row>
            <div class="tabla_lista" style="overflow-y: auto; max-height: 47vh;">
              <div class="tabla-content" *ngFor="let respuesta1 of resultado2" >
                <ion-row class="data-row" >
                  <ion-col title="{{ respuesta1.NUMERO_MOVIMIENTO_DET }}">{{ respuesta1.NUMERO_MOVIMIENTO_DET }}</ion-col>
                  <ion-col title="{{ respuesta1.NOMBRE_CONVENIO }}">{{ respuesta1.NOMBRE_CONVENIO }}</ion-col>
                  <ion-col title="{{ respuesta1.FACTURA_CONVENIO }}">{{ respuesta1.FACTURA_CONVENIO }}</ion-col>
                  <ion-col title="{{ respuesta1.CODIGO_CLIENTE }}">{{ respuesta1.CODIGO_CLIENTE }}</ion-col>
                  <ion-col title="{{ respuesta1.FECHA_VENCIMIENTO }}">{{ respuesta1.FECHA_VENCIMIENTO }}</ion-col>
                  <ion-col title="{{ respuesta1.VALOR_MOVIMIENTO_DET }}">{{ respuesta1.VALOR_MOVIMIENTO_DET | number}}</ion-col>
                  <ion-col class="edit small-edit-column-fin"><span class="link-text" (click)="MostrarMas(respuesta1)">Mas Info...</span></ion-col>
                </ion-row>
                <ion-grid *ngIf="respuesta1.selected">
                  <ion-row  class="header-row-info">
                    <ion-col>Codigo Referencia</ion-col>
                    <ion-col>Tipo de recaudo</ion-col>
                    <ion-col>Migrado</ion-col>
                  </ion-row >
                    
                  <ion-row class="data-row">
                    <ion-col title="{{ respuesta1.CODIGO_REFERENCIA }}">{{ respuesta1.CODIGO_REFERENCIA }}</ion-col>
                    <ion-col title="{{ respuesta1.TIPO_RECAUDO }}">{{respuesta1.TIPO_RECAUDO}}</ion-col>
                    <ion-col title="{{ respuesta1.MIGRADO }}">{{ respuesta1.MIGRADO }}</ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
          </ion-grid>
      </ion-list>
      <div style="position: fixed;  margin-top: 70px; margin-left: 250px;">
        <ion-fab vertical="bottom" horizontal="end" >
          <ion-fab-button class="custom-fab-button">
            <ion-icon name="chevron-down-circle"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="bottom">
            <div class="convenios-list">
              <ion-item *ngFor="let convenio of listadoConvenios" class="convenio-item">
                <ion-label>{{ convenio.NOMBRE_CONVENIO }}</ion-label>
                <ion-checkbox
                  [checked]="conveniosSeleccionados.includes(convenio.CODIGO_CONVENIO)"
                  (ionChange)="toggleConvenio(convenio.CODIGO_CONVENIO, $event)"
                ></ion-checkbox>
              </ion-item>
            </div>
          </ion-fab-list>
        </ion-fab>
      </div>
  </ion-card-content>
</ion-card>