<ion-header [translucent]="true">
  <ion-toolbar color = "mycolor">
    <ion-title >Listado de Facturas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Listado de Facturas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-card class="login">
  <ion-card-content>
    <ion-list class="tabla">
      <ion-searchbar class="buscador" placeholder="Buscar" [(ngModel)]="searchTerm" (input)="filterList()" (ionClear)="clearSearch()"></ion-searchbar>
      <ion-grid class="tabla1">
        <ion-row class="header-row">
          <ion-col >Convenio</ion-col>
          <ion-col >Convenio Detalle</ion-col>
          <ion-col >Cod. Cliente</ion-col>
          <ion-col >Cod. Referencia</ion-col>
          <ion-col >Valor Factura</ion-col>
          <ion-col >Fecha Vencimiento</ion-col>

        </ion-row>
  
        <div class="tabla_lista">
          <ion-row *ngFor="let detalle of filteredList" class="data-row">

            <!-- Mostrar el nombre del convenio y detalle -->
            <ion-col title="{{ detalle.NOMBRE_CONVENIO }}">{{ detalle.NOMBRE_CONVENIO }}</ion-col>
            <ion-col title="{{ detalle.NOMBRE_CONVENIO_DET }}">{{ detalle.NOMBRE_CONVENIO_DET }}</ion-col>
            
            <!-- Mostrar el resto de los detalles -->
            <ion-col title="{{ detalle.CODIGO_CLIENTE }}">{{ detalle.CODIGO_CLIENTE }}</ion-col>
            <ion-col title="{{ detalle.CODIGO_REFERENCIA }}">{{ detalle.CODIGO_REFERENCIA }}</ion-col>
            <ion-col style="font-weight: bold; color:black" title="{{ detalle.VALOR_MOVIMIENTO_DET }}">
              <span>$</span>{{ detalle.VALOR_MOVIMIENTO_DET | number }}
            </ion-col>
            <ion-col title="{{ detalle.FECHA_VENCIMIENTO }}">{{ detalle.FECHA_VENCIMIENTO }}</ion-col>

          </ion-row>
        </div>
      </ion-grid>
      
    </ion-list>
  </ion-card-content>
</ion-card>