ion-toolbar{
    background-color: var(--ion-color-mycolor);
    color:#fff;
    
}
ion-header{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 8%;
    border-radius: 5px;
    text-align: center;
}

ion-title{
    font-weight: bold;
}

#background-content  {
    background-color: rgb(138, 202, 138) !important;
  }

h4{
    color:red;
    text-align: center;
}

.login {
    
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 12px 2000px rgba(0, 0, 0, 10);  
}

.tabla {
    margin-top: 30%;
}

.centered-image-container {
    text-align: center;
    justify-content: center;
    margin-top: 10%;

}
  
.centered-image {
    width: 50%;
    height: auto;
}




.btn{
    background-color: var(--ion-color-mycolor);
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    margin-top: 10%;
    color:#fff;
}
.btn:hover{
    background-color: #e48f0f;
}

.Cerrar_Sesion{
    background-color: light;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    font-size: 20px;
}
.Cerrar_Sesion:hover{
    background-color: #e48f0f;
}

.formulario{
    max-width: 50%;
    margin: 0 auto;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 10);
   
}