<ion-header [translucent]="true">
  <ion-toolbar color = "mycolor">
  <ion-title>Recaudo</ion-title>
  <div *ngIf="puntoPago=='1'" id="LlamaTurno" class="contenedor" slot="end" >
    <button *ngIf="turno"class="btn" expand="full" (click)="activarCajaTurno()">Llamar</button>
    <button *ngIf="!turno"class="btn" expand="full" (click)="finalizarCajaTurno()">Finalizar</button>
    <div class="checkbox-container">
      <ion-checkbox (ionChange)="preferencial($event)" [disabled]="!turno" [checked]="seleccionar">Preferencial</ion-checkbox>
    </div>
  </div>  
  <button class="limpiar"expand="full" slot="end" (click)="Confirmacionlimpiar()">Limpiar</button>
  </ion-toolbar>
</ion-header>


<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Recaudo</ion-title>
  </ion-toolbar>
</ion-header>
<div class="nav">
  <div class="ion-text-center ion-align-items-center buttons-nav">
    <button class="btn-nav" id="btn-nav1" expand="full" (click)="buscarBarras()" [disabled]="recaudado">Codigo Barras</button>
    <button class="btn-nav" expand="full" (click)="buscarReferencia()" [disabled]="recaudado"> Buscardor Referencia</button>
    <button class="btn-nav" id="btn-nav2" expand="full" (click)="buscarManual()" [disabled]="recaudado">Buscardor Manual</button>
  </div>
</div>
<ion-card class="contenido">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="4" >
          
          <ion-item>
            <ion-label position="stacked" class="stacked-label">Empresa</ion-label>
            <ion-input  style="color:rgb(161, 161, 161)" name="empresa" type="text" value="{{nombreEmpresa}}" placeholder="{{nombreEmpresa}}" readonly></ion-input>
          </ion-item>
          <ion-item *ngIf="!mostrarCampos">
            <ion-label position="stacked" class="stacked-label">Valor Recibido</ion-label>
            <ion-input [(ngModel)]="datos.VALOR_RECIBIDO" name="recibido" (input)="calcular()" required #myInput2 appFormatoMonetario [disabled]="recaudado"><span>$</span></ion-input>
          </ion-item>
          <div *ngIf="verificarValor() && !mostrarCampos" class="mensaje-pequeno">
            El valor es menor al movimiento
          </div>
          <ion-row>
            <ion-col *ngIf="mostrarCampos">
              <ion-item>
                <ion-label position="stacked" class="stacked-label">Valor Efectivo</ion-label>
                <ion-input [(ngModel)]="datosMix.VALOR_EFECTIVO" name="recibido" (input)="calcular()" required appFormatoMonetario [disabled]="recaudado" ><span>$</span></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked" class="stacked-label">Valor Recibido</ion-label>
                <ion-input [(ngModel)]="datosMix.VALOR_RECIBIDO" name="recibido" (input)="calcular()" required appFormatoMonetario [disabled]="recaudado"><span>$</span></ion-input>
              </ion-item>
              <div *ngIf="verificarValorMix()" class="mensaje-pequeno">
                El valor es menor al Efectivo
              </div>
            </ion-col>
            <ion-col *ngIf="mostrarCampos">
              <ion-item>
                <ion-label position="stacked" class="stacked-label">Valor Datafono</ion-label>
                <ion-input  [(ngModel)]="datosMix.VALOR_TARJETA" name="recibido" (input)="calcularDat()" #myInput2 appFormatoMonetario [disabled]="recaudado"><span>$</span></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          
          <ion-item>
            <ion-label position="stacked" class="stacked-label">Comentario</ion-label>
            <ion-input  [(ngModel)]="datos.COMENTARIO" name="comentario" [disabled]="recaudado"></ion-input>
          </ion-item>
      </ion-col>
        <ion-col size="4">

  
          <ion-item>
            <ion-label position="stacked" class="stacked-label">Numero de Arqueo</ion-label>
            <ion-input style="color:rgb(161, 161, 161)" name="Arqueo" type="text" value="{{recaudos.NUMERO_ARQUEO}}"readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked" class="stacked-label">N° Cupones Movimiento</ion-label>
            <ion-input style="color:rgb(0, 0, 0); font-weight: bold;" name="Cupones" type="text" [(ngModel)]="datos.NUMERO_CUPONES_MOVIMIENTO" name="Cupones" readonly></ion-input>
          </ion-item>
          <ion-item *ngIf="mostrarCampos">
            <ion-label position="stacked" class="stacked-label">Documento</ion-label>
            <ion-input name="Cupones" type="text" [(ngModel)]="datosMix.NUMERO_DOCUMENTO" name="Cupones" [disabled]="recaudado"></ion-input>
          </ion-item>
          <ion-item *ngIf="mostrarCamposDoc">
            <ion-label position="stacked" class="stacked-label">Documento</ion-label>
            <ion-input name="Cupones" type="text" [(ngModel)]="datos.NUMERO_DOCUMENTO" name="Cupones" [disabled]="recaudado"></ion-input>
          </ion-item>
          
        </ion-col>
        <ion-col size="3">

          <div id="valorMovimiento">
            <ion-label position="stacked">Valor del Movimiento</ion-label>
            <h1 class="valorMovimiento" >$ {{datos.VALOR_MOVIMIENTO | number}}</h1>
          </div>
          <div id="valorMovimiento" *ngIf="!mostrarCampos">
            <ion-label position="stacked">Valor del Cambio</ion-label>
            <h1 class="valorMovimiento" [style.color]="colorValorCambio">$ {{datos.VALOR_CAMBIO | number}}</h1>
            <ion-checkbox (ionChange)="redondeo($event)" [disabled]="!desagrupar" [(ngModel)]="redondear" [disabled]="recaudado">No redondear</ion-checkbox>
          </div>
          <div id="valorMovimiento" *ngIf="mostrarCampos">
            <ion-label position="stacked">Valor del Cambio</ion-label>
            <h1 class="valorMovimiento" [style.color]="colorValorCambio">$ {{datosMix.VALOR_CAMBIO | number}}</h1>
            <ion-checkbox (ionChange)="redondeo($event)" [disabled]="!desagrupar" [(ngModel)]="redondear" [disabled]="recaudado">No redondear</ion-checkbox>
          </div>
          <div id="valorMovimiento" *ngIf="IDtransaccion">
            <ion-label position="stacked">ID transacción</ion-label>
            <h1 class="valorMovimiento">{{Numero_Transaccion}}</h1>
          </div>

  
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
  <ion-card-content>
    <div class="facturasTitulo">
      <h2 id="facturasTitulo" position="stacked">FACTURAS</h2>
    </div>
    
    
    <ion-grid class="tabla2">
      <ion-row>
        <ion-col class="data-row" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
            <ion-label position="stacked">Tipo de Pago</ion-label>
            <ion-content class="ion-padding">
              <div class="opcion">
                <ion-radio-group [(ngModel)]="datos.FORMA_PAGO" (ionChange)="formaPagoMixto()">
                  <div *ngFor="let pagos of pago" class="custom-radio-item">
                    <ion-item >
                      <ion-radio  [value]="pagos.CODIGO" [disabled]="recaudado"></ion-radio>
                      
                      <ion-label >{{ pagos.DESCRIPCION }}</ion-label>
                    </ion-item>
                  </div>
                </ion-radio-group>
              </div>
            </ion-content>
        </ion-col>
      </ion-row>
    </ion-grid> 

    <div *ngIf="visual1==true"  style="display: flex; align-items: center;">
      <ion-checkbox class="checkBarra" (ionChange)="barraManual($event)" [(ngModel)]="mostrarBarra" [disabled]="recaudado">Editable</ion-checkbox>
      <ion-item style="flex: 1;">
        <ion-label position="stacked">Codigo de Barras</ion-label>
        <ion-input *ngIf="!mostrarBarra" [(ngModel)]="datosConsulta.CODIGO_BARRAS" class="barras" name="codigoBarras" type="text" (input)="onInputChange($event)" autofocus #myInput [disabled]="recaudado"></ion-input>
        <ion-input *ngIf="mostrarBarra" [(ngModel)]="datosConsulta.CODIGO_BARRAS" class="barras" name="codigoBarras" type="text" (keyup.enter)="onInputChange($event)" [disabled]="recaudado"></ion-input>
      </ion-item> 
    </div>

    <ion-row *ngIf="visual2==true">
      <ion-col size="3">
        <app-convenios-referencia-ws></app-convenios-referencia-ws>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">REFERENCIA</ion-label>
          <ion-input label="" [(ngModel)]="datosConsulta2.REFERENCIA" name="codigoBarras" type="text" (keyup.enter)="onEnterKey2($event)" [disabled]="recaudado"></ion-input>
        </ion-item>
        
      </ion-col>
      <ion-col *ngIf="mostrarValor">
        <ion-item>
          <ion-label position="stacked">VALOR</ion-label>
          <ion-input label="" [(ngModel)]="valorReferencia" name="codigoBarras" type="text" (keyup.enter)="onEnterKey2($event)" [disabled]="recaudado" appFormatoMonetario></ion-input>
        </ion-item>
        
      </ion-col>
    </ion-row>
    <ion-row *ngIf="visual3==true">
      <ion-col size="3">
        <app-convenios-manual-ws></app-convenios-manual-ws>
      </ion-col>
      <ion-col>
        <ion-item *ngIf="mostrarCamposManuales && !mostrarDocumento">
          <ion-label position="stacked">CLIENTE</ion-label>
          <ion-input label="" [(ngModel)]="detalle.CODIGO_CLIENTE" name="codigoBarras" type="text" (keyup.enter)="onEnterKey3($event)" #myInput3 [disabled]="recaudado"></ion-input>
        </ion-item>
        <ion-item *ngIf="mostrarCamposManuales && mostrarDocumento">
          <ion-label position="stacked">DOCUMENTO</ion-label>
          <ion-input label="" [(ngModel)]="detalle.CODIGO_CLIENTE" name="codigoBarras" type="text" (keyup.enter)="onEnterKey3($event)" #myInput3 [disabled]="recaudado"></ion-input>
        </ion-item>
        
      </ion-col>
      <ion-col>
        <ion-item *ngIf="mostrarCamposManuales && !mostrarDocumento">
          <ion-label position="stacked">REFERENCIA</ion-label>
          <ion-input label="" [(ngModel)]="detalle.CODIGO_REFERENCIA" name="codigoBarras" type="text" (keyup.enter)="onEnterKey3($event)" [disabled]="recaudado"></ion-input>
        </ion-item>
        <ion-item *ngIf="mostrarCamposManuales && mostrarDocumento">
          <ion-label position="stacked">NUMERO</ion-label>
          <ion-input label="" [(ngModel)]="detalle.CODIGO_REFERENCIA" name="codigoBarras" type="text" (keyup.enter)="onEnterKey3($event)" [disabled]="recaudado"></ion-input>
        </ion-item>
        
      </ion-col>
      <ion-col *ngIf="mostrarCamposManuales && mostrarDocumento">
        <ion-item >
          <ion-label position="stacked">SERIE</ion-label>
          <ion-input label="" [(ngModel)]="documento" name="codigoBarras" type="text" (keyup.enter)="onEnterKey3($event)" [disabled]="recaudado"></ion-input>
        </ion-item>
        
      </ion-col>
      <ion-col>
        <ion-item *ngIf="mostrarCamposManuales">
          <ion-label position="stacked">VALOR</ion-label>
          <ion-input label="" [(ngModel)]="detalle.VALOR_MOVIMIENTO_DET" name="codigoBarras" type="text" (keyup.enter)="onEnterKey3($event)"  appFormatoMonetario [disabled]="recaudado"></ion-input>
        </ion-item>
      </ion-col>
      
    </ion-row>
    <ion-item *ngIf="mostrarSoloBarra || mostrarCamposManuales">
      <ion-label position="stacked">Codigo de Barras</ion-label>
      <ion-input [(ngModel)]="datosConsulta.CODIGO_BARRAS" class="barras" name="codigoBarras" type="text" (keyup.enter)="onInputChange($event)" [disabled]="recaudado"></ion-input>
    </ion-item>
    
    
    <br>

    <div class="tabla">
      <div >
        <ion-checkbox (ionChange)="agrupar($event)" [disabled]="!desagrupar" [(ngModel)]="estadoCheckbox">Desagrupar</ion-checkbox>
        <button class="btn_ver" (click)="ListarFacturas()"><ion-icon size="large" class="ver" name="eye" style="color: blue;"></ion-icon></button>
        <ion-grid class="tabla1">
          <ion-row class="header-row">
            <ion-col class="edit small-edit-column data-row" >
              <ion-checkbox [disabled]="!desagruparSeleccionado" (ionChange)="seleccionarTodo($event)" [checked]="seleccionarTodos" >Todo</ion-checkbox>
            </ion-col>
            <ion-col >Convenio</ion-col>
            <ion-col >Convenio Detalle</ion-col>
            <ion-col >Cod. Cliente</ion-col>
            <ion-col >Cod. Referencia</ion-col>
            <ion-col >Valor Factura</ion-col>
            <ion-col >Fecha Vencimiento</ion-col>

          </ion-row>
    
          <div class="tabla_lista" style="overflow-y: auto; max-height: 20vh;">
            <ion-row *ngFor="let detalle of facturasInvertidas; " class="data-row" >
              <ion-col class="edit small-edit-column data-row">
                <ion-checkbox (ionChange)="updateSelectedClientes($event, detalle)" [disabled]="!desagruparSeleccionado" [checked]="seleccionarTodos"></ion-checkbox>
                <button class="eliminarFila" [disabled]="recaudado" (click)="eliminarFila(detalle)"><ion-icon id="eliminarFila" name="remove-circle-outline" ></ion-icon></button>
              </ion-col>

                <ng-container *ngFor="let detalle2 of nombres_convenio">
                  <ng-container *ngIf="detalle.CODIGO_CONVENIO==detalle2.CODIGO_CONVENIO && detalle.CODIGO_CONVENIO_DET == detalle2.CODIGO_CONVENIO_DET 
                                      && detalle.CODIGO_CLIENTE==detalle2.CODIGO_CLIENTE && detalle.CODIGO_REFERENCIA == detalle2.CODIGO_REFERENCIA">
                    <ion-col title="{{ detalle2.NOMBRE_CONVENIO}}">{{ detalle2.NOMBRE_CONVENIO }}</ion-col>
                    <ion-col style="font-weight: bold; color:black" title="{{ detalle2.NOMBRE_CONVENIO_DET }}">{{ detalle2.NOMBRE_CONVENIO_DET }}</ion-col>
                  </ng-container>
                </ng-container>
              
              <ion-col title="{{ detalle.CODIGO_CLIENTE }}">{{ detalle.CODIGO_CLIENTE }}</ion-col>
              <ion-col title="{{ detalle.CODIGO_REFERENCIA }}">{{ detalle.CODIGO_REFERENCIA }}</ion-col>
              <ion-col style="font-weight: bold; color:black" title="{{ detalle.VALOR_MOVIMIENTO_DET }}"><span>$</span>{{ detalle.VALOR_MOVIMIENTO_DET | number}}</ion-col>
              <ion-col title="{{ detalle.FECHA_VENCIMIENTO }}">{{ detalle.FECHA_VENCIMIENTO }}</ion-col>
  
            </ion-row>
          </div>
        </ion-grid>
        
      </div>
  
    </div> 
  </ion-card-content>
  

  <button class="btn_m" (click)="limpiarYEnviar()" [disabled]="recaudado">
    <ion-icon class = "Crear" size="large" name="add-circle-sharp"></ion-icon>
  </button>

</ion-card>
<!-- <div class="overlay" *ngIf="imprimir" (click)="cerrarImp()"></div>

<div class="imprimir"  id="iframe-container"></div> -->

<div class="overlay" *ngIf="confirmar_Lista"></div>
<div class="alerta alerta1" *ngIf="confirmar_Lista">
  <div class="cerrar">
    <ion-button class="cerrar-btn" (click)="cerrarList()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </div>    
  <ion-item >  
    
    <ion-grid>
      <ion-row class="header-row1">
        <ion-col >Convenio</ion-col>
        <ion-col >Convenio Detalle</ion-col>
        <ion-col >Cod. Cliente</ion-col>
        <ion-col *ngIf="CODconvenio=='2'">Propietario</ion-col>
        <ion-col >Cod. Referencia</ion-col>
        <ion-col >Valor Factura</ion-col>
        <ion-col >Fecha Vencimiento</ion-col>
        <ion-col *ngIf="CODconvenio=='2'">Ciclo</ion-col>
        <ion-col *ngIf="CODconvenio=='2'">Dirección</ion-col>
      </ion-row>
      <ion-row class="data-row1">
        <ion-col title="{{ detalle2.NOMBRE_CONVENIO}}">{{ detalle2.NOMBRE_CONVENIO }}</ion-col>
        <ion-col title="{{ detalle2.NOMBRE_CONVENIO_DET }}">{{ detalle2.NOMBRE_CONVENIO_DET }}</ion-col>
        <ion-col title="{{ detalle.CODIGO_CLIENTE }}">{{ detalle.CODIGO_CLIENTE }}</ion-col>
        <ion-col *ngIf="CODconvenio=='2'" title="{{ propietario}}">{{propietario}}</ion-col>
        <ion-col title="{{ detalle.CODIGO_REFERENCIA }}">{{ detalle.CODIGO_REFERENCIA }}</ion-col>
        <ion-col title="{{ detalle.VALOR_MOVIMIENTO_DET }}"><span>$</span>{{ detalle.VALOR_MOVIMIENTO_DET | number}}</ion-col>
        <ion-col title="{{ detalle.FECHA_VENCIMIENTO }}">{{ detalle.FECHA_VENCIMIENTO }}</ion-col>
        <ion-col *ngIf="CODconvenio=='2'" title="{{ ciclo}}">{{ciclo}}</ion-col>
        <ion-col *ngIf="CODconvenio=='2'" title="{{ direccion}}">{{direccion}}</ion-col>

      </ion-row>
    </ion-grid>
  </ion-item>
  <button class="btn_mi" (click)="agregarDetalle()">Aceptar</button>
</div>


<div class="overlay" *ngIf="confirmar"></div>
<div class="alerta" *ngIf="confirmar">
  
  <ion-item>  
    <div class="cerrar">
      <ion-button class="cerrar-btn" (click)="cerrarTabla()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </div>    
    <ion-label class="col-descripcion">¿Está seguro de recaudar {{datos.VALOR_MOVIMIENTO | number}} en {{desFormaPago}}?</ion-label>
  </ion-item>
  <button class="btn_mi" (click)="recaudarFinal()">Aceptar</button>
</div>

<div class="overlay" *ngIf="limpia"></div>
<div class="alerta" *ngIf="limpia">
  
  <ion-item>  
    <div class="cerrar">
      <ion-button class="cerrar-btn" (click)="cerrarTabla()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </div>    
    <ion-label class="col-descripcion">El movimiento aun no se ha recaudado, ¿Está seguro de limpiar?</ion-label>
  </ion-item>
  <button class="btn_mi" (click)="limpiar()">Aceptar</button>
</div>


<div class="overlay" *ngIf="mostrarID"></div>
<div class="alerta" *ngIf="mostrarID">
  
  <ion-item >  
    <ion-label class="col-descripcion">Transaccion: {{resultado.RESPUESTA}} ID de transaccion: <h1 style="font-size:80px; color:red">{{Numero_Transaccion}}</h1></ion-label>
  </ion-item>
  <button class="btn_A" (click)="Anular()">Anular</button>
  <button class="btn_mi" (click)="confirmacion()">Aceptar</button>
</div>
  

<ion-list class="Listado" *ngIf="resultado" lines="full">
  <ion-item *ngIf="resultado.COD=='200'">      
    <ion-label class="col-descripcion">{{ resultado.RESPUESTA }}</ion-label>
  </ion-item>

  <div *ngIf="resultado && resultado.COD !='200'"
  style="align-items: center;  
  justify-content: center;  
  text-align: center; 
  height: 100%;  
  color: red;">
    {{ resultado.RESPUESTA }}
  </div>

</ion-list>

