ion-toolbar{
    background-color: var(--ion-color-mycolor);
}

ion-title{
    font-weight: bold;
}

.buscar_empresa {
    max-width: 20%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Listado {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn{
    background-color: var(--ion-color-mycolor);
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    margin-top: 10%;
}
.btn:hover{
    background-color: #e48f0f;
}
